.jumbotron {
  background-color: #3febce;
  text-align: center;
}

.sheets, .sheets a {
  background-color: #ed5045;
  color: white;
  margin: 15px;
}

.row {
  padding-bottom: 50px;
}

.team-overview {
  text-align: center;
}

.team-overview a {
  color: #3febce;
}

.team-overview a:hover {
  color: #3febce;
}

#one, #two, #three {
  padding-bottom: 100px;
}

#site-title {
  color: #ed5045 !important;
}

#group-title {
  text-decoration: underline !important;
}

#flights {
  text-align: center !important;
}

#pdx {
  color: #20e3c9;
}

#ny {
  color: #1f4fd1;
}

#clt {
  color: #a4e64e;
}

#kc {
  color: #ad1b0e;
}

#mpls {
  color: #3f23cc;
}

#dallas {
  color: #fcba03;
}

#dm {
  color: #b063e0;
}

#mwk {
  color: #1db536;
}

#chatt {
  color: #108267;
}

#sf {
  color: #decf00;
}

#chi {
  color: #388fd1;
}

#mad {
  color: #db3623;
}

#la {
  color: #cc1da9;
}

#stl {
  color: #98aaeb;
}
